body {
    font-family: 'Arial', sans-serif;
    background-color: #f0f2f5;
    padding: 20px;
}

.controls {
    display: flex;
    justify-content: center;
    gap: 15px;
    margin-bottom: 40px;
}

#filmContainer {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr)); 
    max-width: 1200px;
    margin: 40px auto;
    
    row-gap: 60px; 
    column-gap: 20px;
}

.film-card {
    background: white;
    border-radius: 10px;
    padding: 20px;
    display: flex;
    flex-direction: column; 
    justify-content: space-between; 
    min-height: 250px; 
    box-shadow: 0 4px 12px rgba(0,0,0,0.08);
    border: 1px solid #eee;
}

.film-card h3 {
    margin: 0 0 15px 0;
    font-size: 1.1rem;
    height: 4em;
    overflow: hidden;
}

.info-group p {
    margin: 5px 0;
    font-size: 0.9rem;
    color: #666;
}

.card-footer {
    margin-top: 20px;
    padding-top: 10px;
    border-top: 1px solid #f0f0f0;
}

.revenue {
    font-weight: bold;
    color: #2c3e50;
    font-size: 1.2rem;
    margin: 0;
}

button span {
    margin-left: 5px;
    font-weight: bold;
    color: #3498db;
}

.reset-btn { background-color: #e74c3c; color: white; border: none; cursor: pointer; padding: 8px 15px; border-radius: 5px; }
button { padding: 8px 15px; border-radius: 5px; border: 1px solid #ccc; cursor: pointer; background: white; }
button:hover { background: #eee; }
